@charset "utf-8";
/* CSS Document */

a,
.theme_color,
.sec-title .title,
.social-icon-two li a,
.privacy-section .date,
.meta-links li:before,
.list-style-one li:before,
.blog-cat-two li a:hover,
.page-breadcrumb li a:hover,
.list-style-two li:before,
.social-icon-one li a:hover,
.popular-posts-two .post a:hover,
.popular-posts-two .post .post-thumb .overlay-box,
.sidebar-page-container .comments-area .comment-info .comment-time,
.testimonial-block-two .inner-box .quote-icon,
.counter-section .video-column .video-box,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li > ul > li > a:before,
.main-menu .navigation > li > ul > li > ul > li:hover > a,
.main-menu .navigation > li > ul > li > ul > li > a:before,
.main-menu .navigation > li > ul > li:hover > a,
.main-header .header-top .info-list li .icon,
.main-header .header-top .info-list li a:hover,
.banner-section .owl-nav .owl-prev:hover,
.banner-section .owl-nav .owl-next:hover,
.fact-counter .column .inner .icon,
.testimonial-block .inner-box .author span,
.appointment-section .info-column .list li a:hover,
.news-block .inner-box:hover .lower-content h4 a,
.price-block .inner-box .upper-box .price span,
.team-member .inner-box .lower-content h5 a:hover,
.progress-section .content-column .title-box .title,
.case-block .inner-box:hover .image .overlay-box h4 a,
.sticky-header .main-menu .navigation > li:hover > a,
.sticky-header .main-menu .navigation > li.current > a,
.feature-block .inner-box:hover .lower-content h4 a,
.team-single-section .content-column .post-meta li .icon,
.project-detail-section .info-box-outer .box-inner li a,
.blog-cat li a:hover:before, .blog-cat li a:hover,
.sidebar .related-posts .post a,
.sidebar .related-posts .post a:hover,
.sidebar .related-posts .post .price,
.shop-item .inner-box .lower-box .content h5 a:hover,
.shop-item .inner-box .lower-box .content .price,
.product-details .basic-details .details-header .rating,
.product-details .basic-details .expired,
.coming-soon .emailed-form .form-group input[type="submit"],
.coming-soon .emailed-form button,
.cart-table tbody tr .sub-total,
.cart-table tbody tr .remove-btn:hover,
.checkout-page .default-links li a,
.popular-posts .post .text a:hover,
.popular-posts .post .post-info,
.social-widget .social-icon-four li a:hover,
.news-block-two .inner-box .lower-content .read-more:hover,
.news-block-two .inner-box .lower-content h4 a:hover,
.shop-comment-form .rating-box .rating a:hover,
.news-block-two .inner-box .lower-content .title,
.contact-page-section .title-box .icon,
.contact-page-section .info-column .info-list li .icon,
.contact-page-section .info-column .info-list li a:hover,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn:hover,
.sidebar-page-container .comments-area .comment .comment-inner .rating .fa,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn.active-btn{
	color:#f75928;
}

/*Background Color*/

.btn-style-one,
.btn-style-two,
.sec-title .circle-box,
.counter-section:before,
.social-icon-two li a:hover,
.news-block .inner-box .image,
.main-header .search-box-btn:hover,
.sidebar .popular-tags a:hover,
.fact-counter-two .column .inner .icon:after,
.testimonial-section .images-column .quote-icon,
.news-block .inner-box .lower-content .post-info li:first-child,
.clients-section .sponsors-outer .owl-dots .owl-dot:hover,
.clients-section .sponsors-outer .owl-dots .owl-dot.active,
.progress-section .content-column .title-box .title .circle,
.case-block .inner-box .image .overlay-box:after,
.business-section .image-column .image:before,
.accordion-box .block .icon-outer .icon,
.privacy-section .privacy-list li:before,
.range-slider-one .ui-slider .ui-slider-range,
.range-slider-one .theme-btn:hover,
.team-single-section .content-column h2 span,

.skills .skill-item:nth-child(1) .skill-percentage,
.skills .skill-item:nth-child(1) .skill-bar .bar-inner .bar:before,
.skills .skill-item:nth-child(2) .skill-percentage,
.skills .skill-item:nth-child(2) .skill-bar .bar-inner .bar:before,
.skills .skill-item:nth-child(3) .skill-bar .bar-inner .bar:before,
.skills .skill-item:nth-child(3) .skill-percentage,

.cart-table .cart-header,
.sidebar .search-box .form-group button,
.cart-table tbody .available-info .icon,
.project-detail-section .lower-box .btns-box a:hover,
.testimonial-section .carousel-column .owl-dots .owl-dot:hover,
.testimonial-section .carousel-column .owl-dots .owl-dot.active,
.cart-section .coupon-outer .cart-btn:hover,

.clock-minute,
.clock-second,
.clock-hour,
.clock-second:after,
.click-indicator div:nth-child(3),
.click-indicator div:nth-child(6),
.click-indicator div:nth-child(9),
.click-indicator div:nth-child(12),
.range-slider-one .ui-state-default,
.styled-pagination li.prev a:hover,
.styled-pagination li.next a:hover,
.news-block-two .inner-box .image,
.styled-pagination li a:hover, .styled-pagination li a.active,
.shop-item .inner-box .image .options li:last-child a,
.range-slider-one .ui-widget-content .ui-state-default,
.ui-state-active, .ui-widget-content .ui-state-active,
.news-detail .inner-box blockquote,
.sidebar-page-container .comments-area .comment-box .theme-btn,
.news-detail .inner-box .info-content .post-info li:first-child{
	background-color:#f75928;
}

/*Border Color*/

.social-icon-two li a,
.sidebar .popular-tags a:hover,
.range-slider-one .theme-btn:hover,
.appointment-form .form-group input[type="text"]:focus,
.appointment-form .form-group input[type="password"]:focus,
.appointment-form .form-group input[type="tel"]:focus,
.appointment-form .form-group input[type="email"]:focus,
.appointment-form .form-group select:focus,
.appointment-form .form-group textarea:focus,
.testimonial-section .carousel-column .owl-dots .owl-dot:hover,
.testimonial-section .carousel-column .owl-dots .owl-dot.active,
.clients-section .sponsors-outer .owl-dots .owl-dot:hover,
.clients-section .sponsors-outer .owl-dots .owl-dot.active,
.range-slider-one .ui-state-default,
.styled-pagination li a:hover,
.styled-pagination li a.active,
.styled-pagination li.prev a:hover,
.styled-pagination li.next a:hover,
.cart-table tbody tr .remove-btn:hover,
.checkout-page .default-links li,
.range-slider-one .ui-widget-content .ui-state-default,
.sidebar-page-container .comments-area .comment-box:hover,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.shipping-form .form-group input:focus,
.shipping-form .form-group textarea:focus,
.ui-state-active, .ui-widget-content .ui-state-active,
.styled-form input:focus, .styled-form select:focus, .styled-form textarea:focus,
.checkout-form input:focus, .checkout-form select:focus, .checkout-form textarea:focus,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.contact-form .form-group input[type="text"]:focus,
.contact-form .form-group input[type="password"]:focus,
.contact-form .form-group input[type="tel"]:focus,
.contact-form .form-group input[type="email"]:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus{
	border-color:#f75928;
}

.back-to-top::after{
	border-bottom-color:#f75928;
}

/*RGBA Color Light*/

.team-member .inner-box .image-box .overlay-box .inner{
	background-color:rgba(247,89,40,0.80);
}